body {
    background-color: #333336;
    color: white;
    text-align: center;
    margin: 5%;
    padding: 0px 0px 15px 0px;
}

.coming-soon {
    font-weight: 500;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    text-decoration: none;
    color: rgb(24, 209, 169);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 5px;
}

.back-button-text {
    font-size: x-large;
    font-weight: 400;
    letter-spacing: 2px;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 10px;
}