html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    width: 50%;
    border: solid #33333373 1px;
    border-radius: 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    /* border-spacing: 2px; */
}

table thead td {
    font-weight: 500;
    background-color: #e7e7e7;
}

table td {
    background-color: #eeeeeeb7;
    border-radius: 3px;
    padding: 5px;
    text-transform: capitalize;
}

.get-in-touch-note {
    background-color: rgba(255, 0, 0, 0.123);
    text-align: center;
    font-weight: 400;
    text-transform: none;
}

.get-in-touch-note-1 {
    background-color: rgba(253, 207, 55, 0.123);
    text-align: center;
    font-weight: 400;
    text-transform: none;
}

a {
    text-decoration: none;
    text-transform: lowercase;
    color: black;
}