body {
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.global-header {
    /* decoration */
    height: 45px;
    background-color: #333336;
    text-transform: capitalize;
    /* font */
    font-size: x-large;
    font-weight: 400;
    letter-spacing: 0.1em;
    /* alignment */
    display: flex;
    align-items: center;
    text-align: center;
}

.global-header span {
    text-transform: uppercase;
}

.headline {
    width: 70%;
    margin: auto;
    color: azure;
}

.body-overview,
.footer {
    width: 70%;
    margin: auto;
}

.code-holder {
    display: flex;
    border: 1px solid red;
    padding: 0px 20px;
    width: fit-content;
}

.code-container {
    display: flex;
}