html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page_main_title {
    color: rgb(0, 120, 212);
}

.slogan {
    color: rgb(0, 120, 212);
}

.footer_title {
    color: black;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}
