html {
    height: 100%;
}

body {
    height: 100%;
    width: 65%;
    margin: auto;
    align-content: center;
}

.div-1 {
    position: relative;
    bottom: 0;
    right: 0;
    /* top: -31px; */
}

.div-2 {
    position: relative;
    /* top: 31px; */
}

.div-3 {
    position: relative;
    /* top: -31px; */
}

.div-4 {
    position: relative;
    /* top: 31px; */
}

.div-5 {
    position: relative;
    /* top: -31px; */
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
    background-color: #333;
    width: calc(94% / 5);
    padding: 10px 0px;
    margin-left: 1%;
    float: left;
}

.div-container {
    position: relative;
    padding: 10px;
    background-color: rgb(117, 112, 121);
    /* overflow: hidden; */
    /* height: 100px; */
}

span {
    cursor: pointer;
}

.clear {
    clear: both;
}

p {
    font-size: xx-large;
}