html {
    height: 200%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #2F2F2F;
    height: 44px;
    padding: 0px 22px;
    display: flex;
}


.image-hero-container-background-helper {
    background-color: #F7F7F7;
}

.image-hero-container {
    background-color: #F7F7F7;
    position: relative;
    margin-left: calc((100% - 980px)/2);
    margin-right: calc((100% - 980px)/2);
}

.headlines-container,
.personal-image {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.personal-image {
    width: 336px;
    height: auto;
    left: 13%;
}

.headlines-container {
    color: #333333;
}

.section-headline {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 11px;
}

.section-subhead {
    font-size: 32px;
    font-weight: 300;
    margin-top: 0px;
}

.global-nav-ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.leadership-title-container {
    height: 52px;
    background-color: rgb(247, 247, 247, 0.75);
    position: sticky;
    top: 0%;
    z-index: 100;
    backdrop-filter: blur(15px);
}

.leadership-title-background-helper {
    height: 52px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #c7c7c7;
    align-content: center;
}

.leadership-section-title {
    color: #000000;
    font-weight: 500;
    font-size: larger;
}

.global-nav-ul-li-0 {
    list-style: none;
    display: inline-block;
}

.global-nav-ul-li-0-anchor {
    height: inherit;
}

.global-nav-submenu-logo {
    opacity: 85%;
    height: 25px;
    width: auto;
    vertical-align: middle;
}

.global-nav-submenu-logo:hover {
    opacity: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

nav li span {
    color: #e8e6e3cc;
    margin: 0px 8px;
}

nav li span:hover {
    color: #e8e6e3;
}

a {
    text-decoration: none;
    /* color: #e8e6e3cc; */
}

body {
    margin: auto;
}

.row-bio-content {
    margin-top: 52px;
    margin-bottom: 110px;
}

.column-bio-content-left,
.column-bio-content-right {
    width: 400px;
    display: inline-block;
}

.column-bio-content-right {
    margin-left: 80px;
    position: absolute;
}

p {
    size: 17px;
    font-weight: 400;
    line-height: 1.52947;
}

.nav-section,
.footer,
.body-overview,
.global-nav,
.leadership-title-background-helper {
    width: 980px;
    margin: auto;
}

.nav_title {
    font-size: 20px;
}