.header {
    background-color: #333336;
    height: 43px;
    padding: 0px 22px;
}

.global-nav {}

.global-nav-submenu-container {
    margin: 0px;
}

.global-nav-submenu-logo-container {
    list-style: none;
    display: inline-block;
}

.global-nav-submenu-logo {
    height: 25px;
    width: 32px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.item-number-0,
.item-number-1,
.item-number-2 {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    margin: auto;
}

.body-overview {
    /* border-color: #333336;
    border-style: solid;
    border-top: 0px; */
}

.row-bio-content {
    /* background-color: antiquewhite; */
    /* width: fit-content; */
}

.column-bio-content-left,
.column-bio-content-right {
    width: 400px;
    display: inline-block;
    /* background-color: #d4d4db; */
}

.column-bio-content-right {
    margin-left: 80px;
    position: absolute;
}

/* .personal-image-container {
    background-color: rgb(65, 113, 96);
    padding: 20px;
    border: 5px solid black;
} */

.personal-image {
    height: 320px;
    width: 320px;
    margin-left: 19%;
    margin-bottom: 50px;
    vertical-align: middle;
    /* border: 1px solid #333;
    border-radius: 5%; */
}

.section-headline {
    /* border: 5px solid black; */
    font-weight: 500;
    margin-bottom: 11px;
}

.section-subhead {
    /* border: 5px solid black; */
    font-weight: normal;
    margin-top: 0px;
}

.ceo_quote {
    font-size: 30px;
    font-style: oblique;
    width: 675px;
    margin: auto;
    border: 5px solid black;
}

p {
    size: 17px;
    font-weight: 400;
    line-height: 1.52947;
    /* letter-spacing: -.021em; */
}

p,
.section-headline,
.section-subhead {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #333; */

}

.headlines-container,
.personal-image-container {
    display: inline-block;
}

.nav-section,
.footer,
.body-overview,
.global-nav {
    width: 65%;
    margin: auto;
}

.footer {}

.nav_title {
    font-size: 20px;
}

.nav {}