.body {
    background-color: rgb(9, 37, 195);
    padding: 100px;
}

.ceo_picture {
    background-color: rgb(236, 203, 191);
    padding: 20px;
}

.ceo_quote {
    color: rgb(0, 120, 212);
    background-color: rgb(236, 203, 191);
    font-size: 30px;
    font-style: oblique;
}

.footer {}

.footer_title {
    color: rgb(237, 224, 219);
    font-size: 20px;
}

.nav {}