.body {
    /* background-image: url("/assets/images/leadership_profiles/mohamed_tarek/background.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.personal-image-container {
    background-color: rgb(65, 113, 96);
    
}

.personal-image {
    height: 320px;
    width: 320px;
}

.section-headline {}

.section-subhead {}

.ceo_quote {
    font-size: 30px;
    font-style: oblique;
}

.footer {}

.nav_title {
    font-size: 20px;
}

.nav {}